.user-dropdown {
    --button-background: #fff;

    span {
        display: block;
        font-size: 1.25rem;
    }

    .user-dropdown-arrow {
        margin: 0 0 0 0.95rem;
    }
}

.user-dropdown-btn {
    overflow: hidden;
    border-radius: 100px;
    gap: 0.85rem;
    padding: 0.45rem 1.5rem 0.45rem 0.45rem;
    background: var(--button-background);

    &:hover {
        background: var(--button-background);
    }

}

.user-dropdown-arrow {
    transition: transform 0.25s ease;
    color: #404040;
}

.active {
    transform: rotate(180deg);
}