@import "https://fonts.googleapis.com/css2?family=Oxygen&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    font-family: "Oxygen", "Roboto", sans-serif;
    font-size: 12px;
    --red: #ff2346;
    --blue: #0099e9;
    --button-green: #00a0b1;
    --background: linear-gradient(to bottom, #0077ff, #3350ff);
    --grey: #d9d9d9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

svg {
    pointer-events: none;
}

.flex {
    display: flex;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex--space-between {
    display: flex;
    justify-content: space-between;
}

.spacer--line {
    width: 100%;
    height: 1px;
    background-color: var(--grey);
    margin: 1rem 0;
}

.spacer--line--vertical {
    height: 100%;
    width: 1px;
    background-color: var(--grey);
    margin: 0 1rem;
}

#terms-of-use {
    overflow-y: scroll;
    height: 100%;
    row-gap: 1rem;
    padding: 1rem;
    align-items: center;
}

#terms-of-use li {
    margin: 0;
    font-size: 2rem;
}

.message--error {
    background-color: var(--red) !important;
}

.messages {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.messages .message {
    position: relative;
    background-color: #63d990;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

.messages .message .close-button {
    display: inline-block;
    cursor: pointer;
}

.messages .message .close-button .fa-xmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

a {
    color: #009be9;
    text-decoration: none;
}

input {
    border: none;
}

input[type=text],
input[type=password],
input[type=email] {
    color: #424242;
    outline: 2px solid #cdcdcd;
    cursor: text;
    transition: ease 0.2s outline-color;
    border-radius: 10px;
}

input[type=text]:invalid,
input[type=text].invalid,
input[type=password]:invalid,
input[type=password].invalid,
input[type=email]:invalid,
input[type=email].invalid {
    outline-color: var(--red) !important;
}

input[type=text]:valid,
input[type=password]:valid,
input[type=email]:valid {
    outline-color: var(--blue);
}

button {
    background: none;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Oxygen", "Roboto", sans-serif;
    font-size: 1rem;
}

a,
button,
input[type=button],
input[type=submit] {
    transition: ease 0.5s background-color;
}

button,
input[type=button],
input[type=submit] {
    cursor: pointer;
    border: none;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
    /* background-color: var(--blue); */
}

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=checkbox]:disabled {
    opacity: 0.5;
    cursor: default;
    user-select: none;
}

input[type=checkbox] {
    display: flex;
    margin: 0;
    appearance: none;
    min-height: 1rem !important;
    min-width: 1rem !important;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
}

input[type=checkbox]::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 2px solid #cdcdcd;
    border-radius: 2px;
    display: block;
    transition: ease 0.25s;
}

input[type=checkbox]:required:not(:checked)::before {
    outline-color: var(--red);
}

input[type=checkbox]:required:not(:checked):hover::before {
    outline-color: var(--red) !important;
}

input[type=checkbox]:not(:disabled):hover::before {
    outline-color: var(--blue);
}

input[type=checkbox]::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 0.6rem;
    height: 0.8rem;
    border: solid white;
    border-width: 0 0.3rem 0.3rem 0;
    transform: translate(-40%, -60%) rotate(45deg);
    border-radius: 2px;
}

input[type=checkbox]:indeterminate::after {
    width: 80%;
    height: 0.2rem;
    display: block;
    transform: translate(-50%, -50%);
}

input[type=checkbox]:indeterminate::before {
    background-color: var(--blue);
    outline-color: var(--blue);
}

input[type=checkbox]:checked::after {
    display: block;
}

input[type=checkbox]:checked::before {
    background-color: var(--blue);
    outline-color: var(--blue);
}

.checkbox {
    align-items: center;
    column-gap: 1rem;
}

#cookies-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

#notifications {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#notifications .message {
    box-shadow: 0 0 5px -3px black;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}