.badge {
    $badge-background: #8C8C8C;
    $badge-color: #ffffff;

    border-radius: 10px;
    background: $badge-background;
    color: $badge-color;
    padding: 0.55rem 1.75rem;
    text-align: center;
    font-size: 0.95rem;
    width: fit-content;
}